* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #111317;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #405a8;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}

.section__subheader {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: var(--text-light);
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: rgba(23, 24, 71, 0.747);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(137, 165, 218);
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

.bg__blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px rgba(9, 30, 68, 0.589);
    z-index: -1;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);


    background-image: url(../image/peakpx\ \(2\).jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/peakpx\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav__logo {
    max-width: 150px;

}

.nav__logo img {

    width: 70%;

}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--white);
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(18, 48, 49);
    transition: 0.3s;
}

.link a:hover::after {
    width: 50%;
}

.link a:hover {

    color: #405a8f;

}

.header__container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.header__container::before {

    position: absolute;
    bottom: 5rem;
    right: 20rem;
    font-size: 10rem;
    font-weight: 700;
    line-height: 7rem;
    color: var(--white);
    opacity: 0.05;
    z-index: -1;
}

.header__blur {
    bottom: 5rem;
    right: 0;
}

.header__content h4 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: #301c5fda;
    letter-spacing: 3px;
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
    color: var(--white);
    background: url(../image/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg) 0 0 / cover no-repeat;
    background-image: url(../image/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--white);
}

.header__content p {
    margin-bottom: 2rem;
    color: var(--text-light);
}

.header__image {
    position: relative;
}

.header__image::before {

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40rem;
    font-weight: 400;
    line-height: 20rem;

    opacity: 0.1;
    z-index: -1;
}

.header__image img {
    max-width: 350px;
    margin: auto;
    width: 50%;
    border-radius: 180px;
    filter: grayscale(10);
    transition: 0.4s;
    margin-right: -40px;
}

.header__image img:hover {
    transition: 0.4s;
    filter: grayscale(0);
    border-radius: 80px;

}

.explore__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.explore__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.explore__nav span {
    padding: 0 6px;
    font-size: 1.5rem;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.explore__nav span:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.explore__grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.explore__card {
    padding: 1rem;
    background-color: var(--primary-color-light);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 2rem;
}

.explore__card:hover {
    background-color: #301c5fda;
    border-color: #593ba0da;
}

.explore__card span {
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: var(--white);
    background-color: #301c5fda;
    border-radius: 5px;
}

.explore__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}

.explore__card p {
    margin-bottom: 1rem;
    color: var(--text-light);
}

.explore__card a {
    color: var(--white);
    transition: 0.3s;
}

.explore__card a:hover {
    color: #3491e9da;
}

.class__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.class__image {
    position: relative;
}

.class__image .class__img-1 {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 500px;
    border-radius: 10px;
}

.class__image .class__img-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 300px;
    border-radius: 10px;

}

.class__content {
    padding: 2rem 0;
}

.class__content .section__header {
    text-align: left;
    max-width: 400px;
}

.class__content p {
    margin-bottom: 4rem;
    color: var(--text-light);
}

.price__grid {

    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

.price__card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: #1f283acb;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: 0.3s;
}

.price__card:hover {
    background-color: #031727b2;
    border-color: #405a8f;
}

.price__card__content {
    flex: 1;
    margin-bottom: 2rem;
}

.price__card h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.price__card h3 {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    border-bottom: 2px solid var(--white);
}

.price__card p {
    margin-bottom: 0.75rem;
    color: var(--white);
}

.price__card p i {

    margin-right: .5rem;
    font-size: 1.2rem;
    color: #6e84b3;
}

.price__btn {
    color: #677ba3cb;
    background-color: transparent;
    border: 2px solid #000000;
}

.price__btn:hover {
    color: var(--white);
    background-color: #000000ce;
}
.review{
background-color: #1f283acb;
border-radius: 400px;
width: 100%;

}
.review__contanier{
    display: grid;
    gap: 2rem;
}
.review__contanier span{

font-size: 6rem;
opacity: 0.5;
color: #a0b7ca;

}
.review__content{
flex: 1;

}
.review__content h4{
font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--white);
}
.review__content p{
max-width: 800px;
margin-bottom: 2rem;
font-weight: 600;
color: var(--text-light);

}
.review__rating span{
color: #78797c;
    font-size: 1.5rem;
}
.review__footer{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.review__member{
display: flex;
align-items:flex-start ;
gap: 1rem;
}
.review__member img{
max-width: 60px;
border-radius: 70%;
margin-top: -2rem;

}
.review__member__details h4{

margin-bottom: 0;


}
.footer__container{
position: relative;
display: grid;
grid-template-columns: 400px repeat(3, 1fr);
gap: 2rem;
}
.footer__blur{
bottom: 0;
right: 0;

}
.footer__logo{
margin-bottom: 2rem;
    max-width: 150px;
}
.footer__logo img{

    width: 70%;
}
.footer__col p{
margin-bottom: 2rem;
color: var(--text-light);

}
.footer__socials{
display: flex;
align-items: center;
gap: 1rem;
}
.footer__socials a{
padding: 5px 10px;
font-size: 1.2rem;
color: #405a8f;
border: 1px solid rgb(99, 100, 156);
border-radius: 100%;
transition: 0.3s;

}
.footer__socials a:hover{
color: var(--white);
background-color: #b5bfd1;

}
.footer__col h4{
margin-bottom: 2rem;
font-size: 1.2rem;
font-weight: 500;
color: var(--white);


}
.footer__col a{
display: block;
margin-bottom: 2rem;
color: var(--text-light);
transition: 0.3s;

}
.footer__col a:hover{

color: #153a5edc;


}
.footer__bar{
max-width: var(--max-width);
margin: auto;
padding: 1rem;
font-size: 0.8rem;
color: var(--white);

}
.footer__bar{

    text-align: center;
    margin-bottom: 1rem;
}